<<<<<<< HEAD
<div id="spinner" class="row col-md-12 text-center spinner" style="display: none;">
  <i class='fa fa-spinner fa-spin fa-2x'></i> Processing...
=======
<div id="spinner" class="row col-md-12 center spinner" style="display: none;">
  <i class="fa fa-spinner fa-spin fa-2x"></i> Processing
>>>>>>> e94d026cf3daf91dcaaccbd64b1716a4d9491cf9
</div>